.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-brand{
    font-size: 22px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 5px;
    background-color: #f2f2f2;
}
.navbar-nav  li a:hover {
    color: #e37474 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e37474;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

h3{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}


@media (min-width: 1200px)
{.container {
  width: 95%;
}}
@media (min-width: 992px)
{.container {
  width: 95%;
}}
@media (min-width: 768px)
{.container {
  width: 95%;
}}

input[type=text],input[type=number], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 30%;
    margin: auto;
  }
  
 
  button[type=submit]:hover {
    background-color: #45a049;
  }
  

  .box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 95%;
    margin: 50px auto;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#subjects {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #subjects td, #subjects th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #subjects tr:nth-child(even){background-color: #f2f2f2;}
  
  #subjects tr:hover {background-color: #ddd;}
  
  #subjects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
